* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-image: url('imagens/mapa.jpeg'); /* Caminho da imagem */
  background-size: cover; /* Faz com que a imagem cubra toda a área */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Impede que a imagem se repita */
  background-color: #f4f4f4; /* Cor de fallback */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #059c19;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* Container logo + botão */
.logo-container {
  display: flex;
  align-items: center;
}

/* Logo */
.logo {
  text-decoration: none;
  color: #f0e8e8;
  font-size: 35px;
  font-weight: 600;
}

/* Botão hamburguer - escondido por padrão */
.nav-toggle {
  display: none;
  font-size: 30px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
   margin-right: 15px; 
}

/* Menu visível em telas grandes */
nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 10px;
  gap: 10px;
}

/* Estilo dos links */
nav li a {
  text-decoration: none;
  color: #f6faf3;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: 0.3s;
}

nav li a:hover {
  background-color: white;
  color: black;
}

/* ----------- RESPONSIVO (celular) ----------- */
@media (max-width: 768px) {
  /* Reorganiza a parte superior */
  .logo-container {
    width: 100%;
    justify-content: space-between;
  }

  /* Mostra o botão */
  .nav-toggle {
    display: block;
  }

  /* Esconde o menu por padrão */
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #059c19;
    margin-top: 10px;
  }

  /* Mostra o menu quando ativado */
  nav ul.active {
    display: flex;
  }

  nav li {
    width: 100%;
  }

  nav li a {
    display: block;
    width: 100%;
    text-align: left;
  }
}


header {
  text-align: center;
  margin-bottom: 40px;
}

header h1 {
  font-size: 2.5em;
  color: #000000;
  margin: 40px 0;

}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.team-member {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  padding: 20px;
  text-align: center;
}

.team-member img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 15px;
}

.team-member h2 {
  margin-bottom: 10px;
  color: #444;
}

.team-member p {
  color: #666;
  font-size: 0.95em;
}

